web/WEB-INF/wsdl/127.0.0.1_8280/servicio.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="publicador_UsuariosService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicio?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="altaColaborador">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:dateTime"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
<part name="arg7" type="xsd:string"></part>
</message>
<message name="altaColaboradorResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="escorreo">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="escorreoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="existeCorreo">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeCorreoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="altaProponente">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:dateTime"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
<part name="arg7" type="xsd:string"></part>
<part name="arg8" type="xsd:string"></part>
<part name="arg9" type="xsd:string"></part>
<part name="arg10" type="xsd:string"></part>
</message>
<message name="altaProponenteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="validaWeb">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="validaWebResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="existeNick">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeNickResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="traerProponente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerProponenteResponse">
<part name="return" type="tns:proponente"></part>
</message>
<message name="traerColaborador">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerColaboradorResponse">
<part name="return" type="tns:colaborador"></part>
</message>
<message name="cargarUsuarios2"></message>
<message name="cargarUsuarios2Response"></message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="limpiarUsuarios"></message>
<message name="limpiarUsuariosResponse"></message>
<message name="cargarPropPrueba"></message>
<message name="cargarPropPruebaResponse"></message>
<message name="SeleccionarColaboracion">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="SeleccionarColaboracionResponse">
<part name="return" type="tns:dtColaboracion"></part>
</message>
<message name="listarColaboradores"></message>
<message name="listarColaboradoresResponse">
<part name="return" type="tns:dataListColaboradores"></part>
</message>
<message name="seguirUsuario"></message>
<message name="seguirUsuarioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="yaSigue"></message>
<message name="yaSigueResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="dejarDeSeguir"></message>
<message name="dejarDeSeguirResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="listarProponentes"></message>
<message name="listarProponentesResponse">
<part name="return" type="tns:dataListProponentes"></part>
</message>
<message name="seleccionarUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarUsuarioResponse"></message>
<message name="seleccionarUsuSeg">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarUsuSegResponse"></message>
<message name="datosCol">
<part name="arg0" type="tns:colaborador"></part>
</message>
<message name="datosColResponse">
<part name="return" type="tns:dataListColaboraciones"></part>
</message>
<message name="traerDtProponente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerDtProponenteResponse">
<part name="return" type="tns:dtProponente"></part>
</message>
<message name="cargarProponentes"></message>
<message name="cargarProponentesResponse"></message>
<message name="traerPropuestasColaboradas">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerPropuestasColaboradasResponse">
<part name="return" type="tns:dataListColaboraciones"></part>
</message>
<message name="TraerTodasPropuestas">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="TraerTodasPropuestasResponse">
<part name="return" type="tns:dataListPropuestas"></part>
</message>
<message name="TraerTodasPropuestasIng">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="TraerTodasPropuestasIngResponse">
<part name="return" type="tns:dataListPropuestas"></part>
</message>
<message name="configurarParametros">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="configurarParametrosResponse"></message>
<message name="copia">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="copiaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="encripta">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="encriptaResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="traerDtUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerDtUsuarioResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="listarUsuarios"></message>
<message name="listarUsuariosResponse">
<part name="return" type="tns:dataListUsuarios"></part>
</message>
<message name="traerSeguidos">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerSeguidosResponse">
<part name="return" type="tns:dataListUsuarios"></part>
</message>
<message name="traerPropFav">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerPropFavResponse">
<part name="return" type="tns:dataListPropuestas"></part>
</message>
<message name="listaNC">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listaNCResponse">
<part name="return" type="tns:dataListUsuarios"></part>
</message>
<message name="desactivarProp">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="desactivarPropResponse"></message>
<message name="existe">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="existeResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="traerUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerUsuarioResponse">
<part name="return" type="tns:usuario"></part>
</message>
<message name="contarSeguidores">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="contarSeguidoresResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="agregarImagen">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="tns:dataImagen"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="agregarImagenResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="resolverLogin">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="resolverLoginResponse">
<part name="return" type="tns:dtInfo"></part>
</message>
<message name="retornarImagen">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="retornarImagenResponse">
<part name="return" type="xsd:base64Binary"></part>
</message>
<message name="sha1">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="sha1Response">
<part name="return" type="xsd:string"></part>
</message>
<message name="rankingUser2"></message>
<message name="rankingUser2Response">
<part name="return" type="tns:dataListUsuarios"></part>
</message>
<message name="listarUsuario"></message>
<message name="listarUsuarioResponse">
<part name="return" type="tns:dataListProponentes"></part>
</message>
<message name="traerSeguidores">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerSeguidoresResponse">
<part name="return" type="tns:dataListUsuarios"></part>
</message>
<message name="seleccionarColaborante">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarColaboranteResponse">
<part name="return" type="tns:dataListStrings"></part>
</message>
<message name="Crear_DataImagen_Publicador">
<part name="arg0" type="xsd:base64Binary"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="Crear_DataImagen_PublicadorResponse">
<part name="return" type="tns:dataImagen"></part>
</message>
<message name="traerMisPropuestasF">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerMisPropuestasFResponse">
<part name="return" type="tns:dataListPropuestas"></part>
</message>
<portType name="publicador_Usuarios">
<operation name="altaColaborador" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input wsam:Action="http://Servicios/publicador_Usuarios/altaColaboradorRequest" message="tns:altaColaborador"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/altaColaboradorResponse" message="tns:altaColaboradorResponse"></output>
</operation>
<operation name="escorreo">
<input wsam:Action="http://Servicios/publicador_Usuarios/escorreoRequest" message="tns:escorreo"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/escorreoResponse" message="tns:escorreoResponse"></output>
</operation>
<operation name="existeCorreo">
<input wsam:Action="http://Servicios/publicador_Usuarios/existeCorreoRequest" message="tns:existeCorreo"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/existeCorreoResponse" message="tns:existeCorreoResponse"></output>
</operation>
<operation name="altaProponente" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9 arg10">
<input wsam:Action="http://Servicios/publicador_Usuarios/altaProponenteRequest" message="tns:altaProponente"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/altaProponenteResponse" message="tns:altaProponenteResponse"></output>
</operation>
<operation name="validaWeb">
<input wsam:Action="http://Servicios/publicador_Usuarios/validaWebRequest" message="tns:validaWeb"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/validaWebResponse" message="tns:validaWebResponse"></output>
</operation>
<operation name="existeNick">
<input wsam:Action="http://Servicios/publicador_Usuarios/existeNickRequest" message="tns:existeNick"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/existeNickResponse" message="tns:existeNickResponse"></output>
</operation>
<operation name="traerProponente">
<input wsam:Action="http://Servicios/publicador_Usuarios/traerProponenteRequest" message="tns:traerProponente"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/traerProponenteResponse" message="tns:traerProponenteResponse"></output>
</operation>
<operation name="traerColaborador">
<input wsam:Action="http://Servicios/publicador_Usuarios/traerColaboradorRequest" message="tns:traerColaborador"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/traerColaboradorResponse" message="tns:traerColaboradorResponse"></output>
</operation>
<operation name="cargarUsuarios2">
<input wsam:Action="http://Servicios/publicador_Usuarios/cargarUsuarios2Request" message="tns:cargarUsuarios2"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/cargarUsuarios2Response" message="tns:cargarUsuarios2Response"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://Servicios/publicador_Usuarios/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="limpiarUsuarios">
<input wsam:Action="http://Servicios/publicador_Usuarios/limpiarUsuariosRequest" message="tns:limpiarUsuarios"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/limpiarUsuariosResponse" message="tns:limpiarUsuariosResponse"></output>
</operation>
<operation name="cargarPropPrueba">
<input wsam:Action="http://Servicios/publicador_Usuarios/cargarPropPruebaRequest" message="tns:cargarPropPrueba"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/cargarPropPruebaResponse" message="tns:cargarPropPruebaResponse"></output>
</operation>
<operation name="SeleccionarColaboracion">
<input wsam:Action="http://Servicios/publicador_Usuarios/SeleccionarColaboracionRequest" message="tns:SeleccionarColaboracion"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/SeleccionarColaboracionResponse" message="tns:SeleccionarColaboracionResponse"></output>
</operation>
<operation name="listarColaboradores">
<input wsam:Action="http://Servicios/publicador_Usuarios/listarColaboradoresRequest" message="tns:listarColaboradores"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/listarColaboradoresResponse" message="tns:listarColaboradoresResponse"></output>
</operation>
<operation name="seguirUsuario">
<input wsam:Action="http://Servicios/publicador_Usuarios/seguirUsuarioRequest" message="tns:seguirUsuario"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"></output>
</operation>
<operation name="yaSigue">
<input wsam:Action="http://Servicios/publicador_Usuarios/yaSigueRequest" message="tns:yaSigue"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/yaSigueResponse" message="tns:yaSigueResponse"></output>
</operation>
<operation name="dejarDeSeguir">
<input wsam:Action="http://Servicios/publicador_Usuarios/dejarDeSeguirRequest" message="tns:dejarDeSeguir"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/dejarDeSeguirResponse" message="tns:dejarDeSeguirResponse"></output>
</operation>
<operation name="listarProponentes">
<input wsam:Action="http://Servicios/publicador_Usuarios/listarProponentesRequest" message="tns:listarProponentes"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/listarProponentesResponse" message="tns:listarProponentesResponse"></output>
</operation>
<operation name="seleccionarUsuario">
<input wsam:Action="http://Servicios/publicador_Usuarios/seleccionarUsuarioRequest" message="tns:seleccionarUsuario"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/seleccionarUsuarioResponse" message="tns:seleccionarUsuarioResponse"></output>
</operation>
<operation name="seleccionarUsuSeg">
<input wsam:Action="http://Servicios/publicador_Usuarios/seleccionarUsuSegRequest" message="tns:seleccionarUsuSeg"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/seleccionarUsuSegResponse" message="tns:seleccionarUsuSegResponse"></output>
</operation>
<operation name="datosCol">
<input wsam:Action="http://Servicios/publicador_Usuarios/datosColRequest" message="tns:datosCol"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/datosColResponse" message="tns:datosColResponse"></output>
</operation>
<operation name="traerDtProponente">
<input wsam:Action="http://Servicios/publicador_Usuarios/traerDtProponenteRequest" message="tns:traerDtProponente"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/traerDtProponenteResponse" message="tns:traerDtProponenteResponse"></output>
</operation>
<operation name="cargarProponentes">
<input wsam:Action="http://Servicios/publicador_Usuarios/cargarProponentesRequest" message="tns:cargarProponentes"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/cargarProponentesResponse" message="tns:cargarProponentesResponse"></output>
</operation>
<operation name="traerPropuestasColaboradas">
<input wsam:Action="http://Servicios/publicador_Usuarios/traerPropuestasColaboradasRequest" message="tns:traerPropuestasColaboradas"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/traerPropuestasColaboradasResponse" message="tns:traerPropuestasColaboradasResponse"></output>
</operation>
<operation name="TraerTodasPropuestas">
<input wsam:Action="http://Servicios/publicador_Usuarios/TraerTodasPropuestasRequest" message="tns:TraerTodasPropuestas"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/TraerTodasPropuestasResponse" message="tns:TraerTodasPropuestasResponse"></output>
</operation>
<operation name="TraerTodasPropuestasIng">
<input wsam:Action="http://Servicios/publicador_Usuarios/TraerTodasPropuestasIngRequest" message="tns:TraerTodasPropuestasIng"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/TraerTodasPropuestasIngResponse" message="tns:TraerTodasPropuestasIngResponse"></output>
</operation>
<operation name="configurarParametros">
<input wsam:Action="http://Servicios/publicador_Usuarios/configurarParametrosRequest" message="tns:configurarParametros"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/configurarParametrosResponse" message="tns:configurarParametrosResponse"></output>
</operation>
<operation name="copia" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/publicador_Usuarios/copiaRequest" message="tns:copia"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/copiaResponse" message="tns:copiaResponse"></output>
</operation>
<operation name="encripta" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/publicador_Usuarios/encriptaRequest" message="tns:encripta"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/encriptaResponse" message="tns:encriptaResponse"></output>
</operation>
<operation name="traerDtUsuario">
<input wsam:Action="http://Servicios/publicador_Usuarios/traerDtUsuarioRequest" message="tns:traerDtUsuario"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/traerDtUsuarioResponse" message="tns:traerDtUsuarioResponse"></output>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://Servicios/publicador_Usuarios/listarUsuariosRequest" message="tns:listarUsuarios"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/listarUsuariosResponse" message="tns:listarUsuariosResponse"></output>
</operation>
<operation name="traerSeguidos">
<input wsam:Action="http://Servicios/publicador_Usuarios/traerSeguidosRequest" message="tns:traerSeguidos"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/traerSeguidosResponse" message="tns:traerSeguidosResponse"></output>
</operation>
<operation name="traerPropFav">
<input wsam:Action="http://Servicios/publicador_Usuarios/traerPropFavRequest" message="tns:traerPropFav"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/traerPropFavResponse" message="tns:traerPropFavResponse"></output>
</operation>
<operation name="listaNC">
<input wsam:Action="http://Servicios/publicador_Usuarios/listaNCRequest" message="tns:listaNC"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/listaNCResponse" message="tns:listaNCResponse"></output>
</operation>
<operation name="desactivarProp">
<input wsam:Action="http://Servicios/publicador_Usuarios/desactivarPropRequest" message="tns:desactivarProp"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/desactivarPropResponse" message="tns:desactivarPropResponse"></output>
</operation>
<operation name="existe" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/publicador_Usuarios/existeRequest" message="tns:existe"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/existeResponse" message="tns:existeResponse"></output>
</operation>
<operation name="traerUsuario">
<input wsam:Action="http://Servicios/publicador_Usuarios/traerUsuarioRequest" message="tns:traerUsuario"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/traerUsuarioResponse" message="tns:traerUsuarioResponse"></output>
</operation>
<operation name="contarSeguidores">
<input wsam:Action="http://Servicios/publicador_Usuarios/contarSeguidoresRequest" message="tns:contarSeguidores"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/contarSeguidoresResponse" message="tns:contarSeguidoresResponse"></output>
</operation>
<operation name="agregarImagen" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/publicador_Usuarios/agregarImagenRequest" message="tns:agregarImagen"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/agregarImagenResponse" message="tns:agregarImagenResponse"></output>
</operation>
<operation name="resolverLogin" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/publicador_Usuarios/resolverLoginRequest" message="tns:resolverLogin"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/resolverLoginResponse" message="tns:resolverLoginResponse"></output>
</operation>
<operation name="retornarImagen">
<input wsam:Action="http://Servicios/publicador_Usuarios/retornarImagenRequest" message="tns:retornarImagen"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/retornarImagenResponse" message="tns:retornarImagenResponse"></output>
</operation>
<operation name="sha1">
<input wsam:Action="http://Servicios/publicador_Usuarios/sha1Request" message="tns:sha1"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/sha1Response" message="tns:sha1Response"></output>
</operation>
<operation name="rankingUser2">
<input wsam:Action="http://Servicios/publicador_Usuarios/rankingUser2Request" message="tns:rankingUser2"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/rankingUser2Response" message="tns:rankingUser2Response"></output>
</operation>
<operation name="listarUsuario">
<input wsam:Action="http://Servicios/publicador_Usuarios/listarUsuarioRequest" message="tns:listarUsuario"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/listarUsuarioResponse" message="tns:listarUsuarioResponse"></output>
</operation>
<operation name="traerSeguidores">
<input wsam:Action="http://Servicios/publicador_Usuarios/traerSeguidoresRequest" message="tns:traerSeguidores"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/traerSeguidoresResponse" message="tns:traerSeguidoresResponse"></output>
</operation>
<operation name="seleccionarColaborante">
<input wsam:Action="http://Servicios/publicador_Usuarios/seleccionarColaboranteRequest" message="tns:seleccionarColaborante"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/seleccionarColaboranteResponse" message="tns:seleccionarColaboranteResponse"></output>
</operation>
<operation name="Crear_DataImagen_Publicador" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/publicador_Usuarios/Crear_DataImagen_PublicadorRequest" message="tns:Crear_DataImagen_Publicador"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/Crear_DataImagen_PublicadorResponse" message="tns:Crear_DataImagen_PublicadorResponse"></output>
</operation>
<operation name="traerMisPropuestasF">
<input wsam:Action="http://Servicios/publicador_Usuarios/traerMisPropuestasFRequest" message="tns:traerMisPropuestasF"></input>
<output wsam:Action="http://Servicios/publicador_Usuarios/traerMisPropuestasFResponse" message="tns:traerMisPropuestasFResponse"></output>
</operation>
</portType>
<binding name="publicador_UsuariosPortBinding" type="tns:publicador_Usuarios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="altaColaborador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="escorreo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="existeCorreo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="altaProponente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="validaWeb">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="existeNick">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerProponente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerColaborador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="cargarUsuarios2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="limpiarUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="cargarPropPrueba">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="SeleccionarColaboracion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarColaboradores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="yaSigue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="dejarDeSeguir">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarProponentes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="seleccionarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="seleccionarUsuSeg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="datosCol">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerDtProponente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="cargarProponentes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerPropuestasColaboradas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="TraerTodasPropuestas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="TraerTodasPropuestasIng">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="configurarParametros">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="copia">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="encripta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerDtUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerSeguidos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerPropFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listaNC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="desactivarProp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="existe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="contarSeguidores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="agregarImagen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="resolverLogin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="retornarImagen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="sha1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="rankingUser2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerSeguidores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="seleccionarColaborante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Crear_DataImagen_Publicador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerMisPropuestasF">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="publicador_UsuariosService">
<port name="publicador_UsuariosPort" binding="tns:publicador_UsuariosPortBinding">
<soap:address location="http://127.0.0.1:8280/servicio"></soap:address>
</port>
</service>
</definitions>