web/WEB-INF/wsdl/127.0.0.1_8280/servicio2.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="IOException" type="tns:IOException"></xs:element>

<xs:element name="SQLException" type="tns:SQLException"></xs:element>

<xs:complexType name="dtPropuesta">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="SQLException">
<xs:sequence>
<xs:element name="SQLState" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="errorCode" type="xs:int"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nextException" type="tns:sqlException" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sqlException">
<xs:complexContent>
<xs:extension base="tns:exception">
<xs:sequence>
<xs:element name="nextException" type="tns:sqlException" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="exception">
<xs:complexContent>
<xs:extension base="tns:throwable">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dataListPropuestas">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dataListStrings">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dataListComentario">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="estado" type="tns:testado" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bufferedImage">
<xs:sequence>
<xs:element name="data" type="tns:raster" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raster">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:simpleType name="testado">
<xs:restriction base="xs:string">
<xs:enumeration value="Ingresada"></xs:enumeration>
<xs:enumeration value="Publicada"></xs:enumeration>
<xs:enumeration value="En_Financiacion"></xs:enumeration>
<xs:enumeration value="Financiada"></xs:enumeration>
<xs:enumeration value="No_Financiada"></xs:enumeration>
<xs:enumeration value="Cancelada"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>