src/conf/xml-resources/web-service-references/servicio2/wsdl/127.0.0.1_8280/servicio2.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="Publicador_PropuestaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicio2?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="actualizarMontos"></message>
<message name="actualizarMontosResponse"></message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="cargarPropuestas"></message>
<message name="cargarPropuestasResponse"></message>
<message name="EstadosPropuestas"></message>
<message name="EstadosPropuestasResponse"></message>
<message name="cargarColaboraciones"></message>
<message name="cargarColaboracionesResponse"></message>
<message name="getPropPorNick">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getPropPorNickResponse">
<part name="return" type="tns:propuesta"></part>
</message>
<message name="extender">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="extenderResponse"></message>
<message name="Listar_Propuestas_Web"></message>
<message name="Listar_Propuestas_WebResponse">
<part name="return" type="tns:dataListPropuestas"></part>
</message>
<message name="Selccionar_Propuesta">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Selccionar_PropuestaResponse">
<part name="return" type="tns:dtPropuesta"></part>
</message>
<message name="Colaboradores_De_Propuesta"></message>
<message name="Colaboradores_De_PropuestaResponse">
<part name="return" type="tns:dataListStrings"></part>
</message>
<message name="Agregar_Propuesta">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:dateTime"></part>
<part name="arg3" type="xsd:int"></part>
<part name="arg4" type="xsd:int"></part>
<part name="arg5" type="xsd:dateTime"></part>
<part name="arg6" type="xsd:string"></part>
<part name="arg7" type="xsd:int"></part>
<part name="arg8" type="xsd:string"></part>
<part name="arg9" type="tns:estado"></part>
<part name="arg10" type="xsd:string"></part>
<part name="arg11" type="xsd:string"></part>
<part name="arg12" type="xsd:string"></part>
<part name="arg13" type="xsd:string"></part>
</message>
<message name="Agregar_PropuestaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Cargar_Pro_Col_Est"></message>
<message name="Cargar_Pro_Col_EstResponse"></message>
<message name="Configurar_Parametros">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Configurar_ParametrosResponse"></message>
<message name="Traer_Comentarios">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Traer_ComentariosResponse">
<part name="return" type="tns:dataListComentario"></part>
</message>
<message name="Alta_Colaboracion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="Alta_ColaboracionResponse"></message>
<message name="Agregar_Propuesta_web">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:dateTime"></part>
<part name="arg3" type="xsd:int"></part>
<part name="arg4" type="xsd:int"></part>
<part name="arg5" type="xsd:dateTime"></part>
<part name="arg6" type="xsd:string"></part>
<part name="arg7" type="xsd:int"></part>
<part name="arg8" type="xsd:string"></part>
<part name="arg9" type="xsd:string"></part>
<part name="arg10" type="xsd:string"></part>
<part name="arg11" type="xsd:string"></part>
<part name="arg12" type="xsd:string"></part>
</message>
<message name="Agregar_Propuesta_webResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Buscardor_Web_ListaTDL">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Buscardor_Web_ListaTDLResponse">
<part name="return" type="tns:dataListPropuestas"></part>
</message>
<message name="Retornar_Imagen_Propuesta">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Retornar_Imagen_PropuestaResponse">
<part name="return" type="xsd:base64Binary"></part>
</message>
<message name="AgregarImagen_Propuesta">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="tns:dataImagen"></part>
</message>
<message name="AgregarImagen_PropuestaResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="Cargar_Favoritos_Memoria"></message>
<message name="Cargar_Favoritos_MemoriaResponse"></message>
<message name="Agregar_Comentario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="Agregar_ComentarioResponse"></message>
<message name="Crear_DataImagen_Publicador">
<part name="arg0" type="xsd:base64Binary"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="Crear_DataImagen_PublicadorResponse">
<part name="return" type="tns:dataImagen"></part>
</message>
<message name="Listar_Propuestas_X_Categoria_Web">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Listar_Propuestas_X_Categoria_WebResponse">
<part name="return" type="tns:dataListPropuestas"></part>
</message>
<message name="Ya_Comento">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="Ya_ComentoResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Ya_Favoritio">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="Ya_FavoritioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Existe_Propuesta">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Existe_PropuestaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Traer_Propuesta">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Traer_PropuestaResponse">
<part name="return" type="tns:dtPropuesta"></part>
</message>
<message name="Agregar_Favorito">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="Agregar_FavoritoResponse"></message>
<message name="Crear_Estado"></message>
<message name="Crear_EstadoResponse">
<part name="return" type="tns:estado"></part>
</message>
<message name="Cambiar_Estado">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="Cambiar_EstadoResponse"></message>
<portType name="Publicador_Propuesta">
<operation name="actualizarMontos">
<input wsam:Action="http://Servicios/Publicador_Propuesta/actualizarMontosRequest" message="tns:actualizarMontos"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/actualizarMontosResponse" message="tns:actualizarMontosResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://Servicios/Publicador_Propuesta/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="cargarPropuestas">
<input wsam:Action="http://Servicios/Publicador_Propuesta/cargarPropuestasRequest" message="tns:cargarPropuestas"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/cargarPropuestasResponse" message="tns:cargarPropuestasResponse"></output>
</operation>
<operation name="EstadosPropuestas">
<input wsam:Action="http://Servicios/Publicador_Propuesta/EstadosPropuestasRequest" message="tns:EstadosPropuestas"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/EstadosPropuestasResponse" message="tns:EstadosPropuestasResponse"></output>
</operation>
<operation name="cargarColaboraciones">
<input wsam:Action="http://Servicios/Publicador_Propuesta/cargarColaboracionesRequest" message="tns:cargarColaboraciones"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/cargarColaboracionesResponse" message="tns:cargarColaboracionesResponse"></output>
</operation>
<operation name="getPropPorNick">
<input wsam:Action="http://Servicios/Publicador_Propuesta/getPropPorNickRequest" message="tns:getPropPorNick"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/getPropPorNickResponse" message="tns:getPropPorNickResponse"></output>
</operation>
<operation name="extender">
<input wsam:Action="http://Servicios/Publicador_Propuesta/extenderRequest" message="tns:extender"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/extenderResponse" message="tns:extenderResponse"></output>
</operation>
<operation name="Listar_Propuestas_Web">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Listar_Propuestas_WebRequest" message="tns:Listar_Propuestas_Web"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Listar_Propuestas_WebResponse" message="tns:Listar_Propuestas_WebResponse"></output>
</operation>
<operation name="Selccionar_Propuesta">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Selccionar_PropuestaRequest" message="tns:Selccionar_Propuesta"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Selccionar_PropuestaResponse" message="tns:Selccionar_PropuestaResponse"></output>
</operation>
<operation name="Colaboradores_De_Propuesta">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Colaboradores_De_PropuestaRequest" message="tns:Colaboradores_De_Propuesta"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Colaboradores_De_PropuestaResponse" message="tns:Colaboradores_De_PropuestaResponse"></output>
</operation>
<operation name="Agregar_Propuesta" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9 arg10 arg11 arg12 arg13">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Agregar_PropuestaRequest" message="tns:Agregar_Propuesta"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Agregar_PropuestaResponse" message="tns:Agregar_PropuestaResponse"></output>
</operation>
<operation name="Cargar_Pro_Col_Est">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Cargar_Pro_Col_EstRequest" message="tns:Cargar_Pro_Col_Est"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Cargar_Pro_Col_EstResponse" message="tns:Cargar_Pro_Col_EstResponse"></output>
</operation>
<operation name="Configurar_Parametros">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Configurar_ParametrosRequest" message="tns:Configurar_Parametros"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Configurar_ParametrosResponse" message="tns:Configurar_ParametrosResponse"></output>
</operation>
<operation name="Traer_Comentarios">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Traer_ComentariosRequest" message="tns:Traer_Comentarios"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Traer_ComentariosResponse" message="tns:Traer_ComentariosResponse"></output>
</operation>
<operation name="Alta_Colaboracion" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Alta_ColaboracionRequest" message="tns:Alta_Colaboracion"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Alta_ColaboracionResponse" message="tns:Alta_ColaboracionResponse"></output>
</operation>
<operation name="Agregar_Propuesta_web" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9 arg10 arg11 arg12">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Agregar_Propuesta_webRequest" message="tns:Agregar_Propuesta_web"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Agregar_Propuesta_webResponse" message="tns:Agregar_Propuesta_webResponse"></output>
</operation>
<operation name="Buscardor_Web_ListaTDL">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Buscardor_Web_ListaTDLRequest" message="tns:Buscardor_Web_ListaTDL"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Buscardor_Web_ListaTDLResponse" message="tns:Buscardor_Web_ListaTDLResponse"></output>
</operation>
<operation name="Retornar_Imagen_Propuesta">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Retornar_Imagen_PropuestaRequest" message="tns:Retornar_Imagen_Propuesta"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Retornar_Imagen_PropuestaResponse" message="tns:Retornar_Imagen_PropuestaResponse"></output>
</operation>
<operation name="AgregarImagen_Propuesta" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/Publicador_Propuesta/AgregarImagen_PropuestaRequest" message="tns:AgregarImagen_Propuesta"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/AgregarImagen_PropuestaResponse" message="tns:AgregarImagen_PropuestaResponse"></output>
</operation>
<operation name="Cargar_Favoritos_Memoria">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Cargar_Favoritos_MemoriaRequest" message="tns:Cargar_Favoritos_Memoria"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Cargar_Favoritos_MemoriaResponse" message="tns:Cargar_Favoritos_MemoriaResponse"></output>
</operation>
<operation name="Agregar_Comentario" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Agregar_ComentarioRequest" message="tns:Agregar_Comentario"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Agregar_ComentarioResponse" message="tns:Agregar_ComentarioResponse"></output>
</operation>
<operation name="Crear_DataImagen_Publicador" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Crear_DataImagen_PublicadorRequest" message="tns:Crear_DataImagen_Publicador"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Crear_DataImagen_PublicadorResponse" message="tns:Crear_DataImagen_PublicadorResponse"></output>
</operation>
<operation name="Listar_Propuestas_X_Categoria_Web">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Listar_Propuestas_X_Categoria_WebRequest" message="tns:Listar_Propuestas_X_Categoria_Web"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Listar_Propuestas_X_Categoria_WebResponse" message="tns:Listar_Propuestas_X_Categoria_WebResponse"></output>
</operation>
<operation name="Ya_Comento" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Ya_ComentoRequest" message="tns:Ya_Comento"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Ya_ComentoResponse" message="tns:Ya_ComentoResponse"></output>
</operation>
<operation name="Ya_Favoritio" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Ya_FavoritioRequest" message="tns:Ya_Favoritio"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Ya_FavoritioResponse" message="tns:Ya_FavoritioResponse"></output>
</operation>
<operation name="Existe_Propuesta">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Existe_PropuestaRequest" message="tns:Existe_Propuesta"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Existe_PropuestaResponse" message="tns:Existe_PropuestaResponse"></output>
</operation>
<operation name="Traer_Propuesta">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Traer_PropuestaRequest" message="tns:Traer_Propuesta"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Traer_PropuestaResponse" message="tns:Traer_PropuestaResponse"></output>
</operation>
<operation name="Agregar_Favorito" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Agregar_FavoritoRequest" message="tns:Agregar_Favorito"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Agregar_FavoritoResponse" message="tns:Agregar_FavoritoResponse"></output>
</operation>
<operation name="Crear_Estado">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Crear_EstadoRequest" message="tns:Crear_Estado"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Crear_EstadoResponse" message="tns:Crear_EstadoResponse"></output>
</operation>
<operation name="Cambiar_Estado" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/Publicador_Propuesta/Cambiar_EstadoRequest" message="tns:Cambiar_Estado"></input>
<output wsam:Action="http://Servicios/Publicador_Propuesta/Cambiar_EstadoResponse" message="tns:Cambiar_EstadoResponse"></output>
</operation>
</portType>
<binding name="Publicador_PropuestaPortBinding" type="tns:Publicador_Propuesta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="actualizarMontos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="cargarPropuestas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="EstadosPropuestas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="cargarColaboraciones">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getPropPorNick">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="extender">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Listar_Propuestas_Web">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Selccionar_Propuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Colaboradores_De_Propuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Agregar_Propuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Cargar_Pro_Col_Est">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Configurar_Parametros">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Traer_Comentarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Alta_Colaboracion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Agregar_Propuesta_web">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Buscardor_Web_ListaTDL">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Retornar_Imagen_Propuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="AgregarImagen_Propuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Cargar_Favoritos_Memoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Agregar_Comentario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Crear_DataImagen_Publicador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Listar_Propuestas_X_Categoria_Web">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Ya_Comento">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Ya_Favoritio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Existe_Propuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Traer_Propuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Agregar_Favorito">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Crear_Estado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Cambiar_Estado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="Publicador_PropuestaService">
<port name="Publicador_PropuestaPort" binding="tns:Publicador_PropuestaPortBinding">
<soap:address location="http://127.0.0.1:8280/servicio2"></soap:address>
</port>
</service>
</definitions>