src/conf/xml-resources/web-service-references/servicio3/wsdl/127.0.0.1_8280/servicio3.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="Publicador_CategoriaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicio3?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="ingresarCat">
<part name="arg0" type="tns:dtCategoria"></part>
</message>
<message name="ingresarCatResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="existecat">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existecatResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="traerProfu">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="traerProfuResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="cargar"></message>
<message name="cargarResponse"></message>
<message name="cargarCategorias"></message>
<message name="cargarCategoriasResponse"></message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="cargaCatPrueb"></message>
<message name="cargaCatPruebResponse"></message>
<message name="Listar_Categorias_Web"></message>
<message name="Listar_Categorias_WebResponse">
<part name="return" type="tns:dataListCategoria"></part>
</message>
<message name="Existe_Categoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Existe_CategoriaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="Publicador_Categoria">
<operation name="ingresarCat">
<input wsam:Action="http://Servicios/Publicador_Categoria/ingresarCatRequest" message="tns:ingresarCat"></input>
<output wsam:Action="http://Servicios/Publicador_Categoria/ingresarCatResponse" message="tns:ingresarCatResponse"></output>
</operation>
<operation name="existecat">
<input wsam:Action="http://Servicios/Publicador_Categoria/existecatRequest" message="tns:existecat"></input>
<output wsam:Action="http://Servicios/Publicador_Categoria/existecatResponse" message="tns:existecatResponse"></output>
</operation>
<operation name="traerProfu">
<input wsam:Action="http://Servicios/Publicador_Categoria/traerProfuRequest" message="tns:traerProfu"></input>
<output wsam:Action="http://Servicios/Publicador_Categoria/traerProfuResponse" message="tns:traerProfuResponse"></output>
</operation>
<operation name="cargar">
<input wsam:Action="http://Servicios/Publicador_Categoria/cargarRequest" message="tns:cargar"></input>
<output wsam:Action="http://Servicios/Publicador_Categoria/cargarResponse" message="tns:cargarResponse"></output>
</operation>
<operation name="cargarCategorias">
<input wsam:Action="http://Servicios/Publicador_Categoria/cargarCategoriasRequest" message="tns:cargarCategorias"></input>
<output wsam:Action="http://Servicios/Publicador_Categoria/cargarCategoriasResponse" message="tns:cargarCategoriasResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://Servicios/Publicador_Categoria/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/Publicador_Categoria/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="cargaCatPrueb">
<input wsam:Action="http://Servicios/Publicador_Categoria/cargaCatPruebRequest" message="tns:cargaCatPrueb"></input>
<output wsam:Action="http://Servicios/Publicador_Categoria/cargaCatPruebResponse" message="tns:cargaCatPruebResponse"></output>
</operation>
<operation name="Listar_Categorias_Web">
<input wsam:Action="http://Servicios/Publicador_Categoria/Listar_Categorias_WebRequest" message="tns:Listar_Categorias_Web"></input>
<output wsam:Action="http://Servicios/Publicador_Categoria/Listar_Categorias_WebResponse" message="tns:Listar_Categorias_WebResponse"></output>
</operation>
<operation name="Existe_Categoria">
<input wsam:Action="http://Servicios/Publicador_Categoria/Existe_CategoriaRequest" message="tns:Existe_Categoria"></input>
<output wsam:Action="http://Servicios/Publicador_Categoria/Existe_CategoriaResponse" message="tns:Existe_CategoriaResponse"></output>
</operation>
</portType>
<binding name="Publicador_CategoriaPortBinding" type="tns:Publicador_Categoria">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="ingresarCat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="existecat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="traerProfu">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="cargar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="cargarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="cargaCatPrueb">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Listar_Categorias_Web">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Existe_Categoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="Publicador_CategoriaService">
<port name="Publicador_CategoriaPort" binding="tns:Publicador_CategoriaPortBinding">
<soap:address location="http://127.0.0.1:8280/servicio3"></soap:address>
</port>
</service>
</definitions>